
.product-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }
  
  .product-item {
    display: flex;
    align-items: center;
    width: 50%; 
    margin-bottom: 15px;
    justify-content: center;
    padding: 10px;
    background-color: #f0f0f0; 
    border-radius: 8px; 
  }
  
  .product-image {
    width: 200px; 
    height: auto;
    margin-right: 15px;
  }
  
  .product-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .product-title {
    margin: 0;
    font-size: 18px; 
  }
  
  .product-description {
    margin-top: 5px;
    font-size: 14px; 
  }

  
.pagination {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 15px;
  }
  
  .pagination button {
    margin: 0 5px; 
    padding: 5px 10px;
    font-size: 14px;
  }
  
  .pagination .current-page {
    font-weight: bold;
    color: blue; 
  }
  
  @media (max-width: 768px) {
    
    .product-item {
      width: 80%; 
      flex-direction: column; 
      align-items: center;
    }
    
    .product-image {
      width: 80%; 
      margin-right: 0;
      margin-bottom: 10px; 
    }
  }
   
  
  